.book-title {
    background-color: rgba(148, 148, 148, 0.25);
    padding: 8px 12px 8px 2%;
    font-size: 1.4em;
    text-align: left;
    margin-right: 55%;
    border-bottom: 1px solid rgba(148, 148, 148, 0.5);
    border-left: 1px solid rgba(148, 148, 148, 0.5);
}

.book-data-content {
    padding: 20px;
    align-content: space-around;
    justify-content: space-evenly;
}

.book-description {
    text-align: left;
    text-indent: 40px;
}

.book-cover-img img {
    box-sizing: content-box;
    margin-top: 25%;
}

.book-authors {
    padding-top: 5px;
}