#app-header {
    background-color: rgb(201, 200, 200);
}

#list-container {
    margin: 20px 50px;
    text-align: center;
}

#app-title {
    text-align: left;
    padding-left: 4%;
    top: 0;
    align-self: center;
    font-size: 2.4em;
}

#search-bar {
    padding:30px;
    
}