#query-read {
    font-size: 1.5em;
}

#result-propmt  {
    position: absolute;
    right: 5vw;
    top: 8vh;
}

#search-propmt {
    position: relative;
    right: 2vw;
    top: 20vh;
    font-size: 1.4em;
}

#list-container {
    margin-top: 50px;
}